[submodule "ShareX.ImageEditor"]
	path = ShareX.ImageEditor
	url = https://github.com/ShareX/ShareX.ImageEditor.git
	branch = develop
	update = rebase
[submodule "ImageEditor"]
	path = ImageEditor
	url = https://github.com/ShareX/ShareX.ImageEditor.git
	branch = develop
	update = rebase
[submodule "ShareX.VideoEditor"]
	path = ShareX.VideoEditor
	url = https://github.com/ShareX/ShareX.VideoEditor.git
	branch = main
